* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav {
    margin: 10px 5px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo h1 {
    text-transform: uppercase;
}


.Menu ul {

    list-style: none;
    display: flex;
    gap: 15px;
    text-transform: uppercase;
}


.extra-nav {
    display: flex;
    gap: 8px;
    align-items: center;

}


/*   .searchbox input{
} */
.searchbox {
    background-color: #dadada;
    padding: 0px 4px;
    border-radius: 50px;
}

#search {
    width: 100px;
    border: none;
    outline: none;
    padding: 6px 3px;
    background: transparent;
}

.Icon i {
    font-size: 20px;

}

section {
    height: 80vh;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-evenly;
    padding: 10px;

}

.left {
    width: 48%;
    height: 100%;
    display: flex;
    /* background-color: cadetblue; */
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
}

.left-upper {
    height: 59%;
    width: 100%;
    background-color: rgb(156, 155, 153);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

}

.heading {

    font-size: 80px;
    line-height: 100px;
    text-transform: uppercase;
}


.desc {
    font-size: 15px;
    font-style: italic;
}

/* .arrow img { */
/* width: 40pxpx; */
/* height: 50px; */
/* margin-left: 100px; */



.left-lower {


    height: 39%;
    width: 100%;
    grid-row: 3/3;
    grid-column: 1 / 2;
    background-size: auto;
    margin: 5px;
    /* background-color: darkviolet; */
    padding: 5px;
    display: flex;
    justify-content: space-between;
}


.small-box1 {
    width: 49%;
    height: 100%;
    background-color: lightgreen;
    border-radius: 10px;
    background: url('https://i.pinimg.com/736x/ab/33/6f/ab336f71732c4a478a507433fb7e0985.jpg');
    background-size: cover;

}

.small-box2 {
    width: 49%;
    height: 100%;
    background-color: lightgreen;
    border-radius: 10px;
    background: url(https://i.pinimg.com/236x/5e/27/37/5e2737d20dc08be1de8627ffcba61bd4.jpg);
    background-size: cover;
}

.right {
    width: 48%;
    height: 100%;
    background-color: darkturquoise;
    border-radius: 10px;
    background: url(https://i.pinimg.com/736x/11/bc/d4/11bcd4f590501d4de995489225989a0c.jpg);
    background-size: cover;
}
